* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151220;
}

.caixa {
    position: relative;
    width: 500px;
    padding: 20px;
    color: white;
    margin: 50px;
    background-color: #151220;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font: bold 2em 'Century Gothic';
}

.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 8px;
    animation: borda 8s linear infinite;
}

@keyframes borda {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.caixa::after {
    filter: blur(50px);
}

.formulário {
    width: 100%;
    text-align: center;
}

.formulário div {
    margin-bottom: 50px;
    margin: 20px;
}

input[type="text"], input[type="radio"], input[type="checkbox"], input[type="submit"] {
    margin-top: 10px;
}

#enviar{
    border-radius: 50px;
    padding: 10px;
}

#nome, #senha{
    border-radius: 50px;
    padding: 10px;
}

#nome{
    margin: 10px;
}
